/* geral */
* {
    font-family: 'Rubik';
}

body
{
    min-height: 125vh;
    padding-bottom: 100px;
    position: relative;
    background-color: #4c66ba;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: .0rem;
    padding-bottom: .5rem;
}

.row
{
    margin:0;
    --bs-gutter-x: 1.9rem;
}

.container-fluid
{
    padding: 0;
}

.btn-primary
{
    background-color: #f2a340;
    border: 2px solid #c28008;
    width: 170px;
    height: 50px;
    
    
}

.btn-primary:hover
{
    background-color: #c28008;
    border-color: #c28008;
}

/* navbar */

#navbar
{
    /*
    background-color: #1D1D27;
    
    margin: 10px;*/

    justify-content: space-between;
    background-color: #1D1D27;
    padding: 30px;
    height: 70px;

}

#navbar a
{
    font-size: 18px;
    color: #f7f7f7;
}

#navbar li
{
    padding-left: 40px;
}

#navbar a:hover
{
    color: #f2a340;
}

#navbar img{
    width:200px;
}

/* search container */
#search-container
{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1
{
    color: #f2a340;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form
{
    width: 50%;
    margin: 0 auto;
}

/* Events list */

#events-container
{
    padding: 50px;
}

#events-container h2
{
    margin-bottom: 10px;
}

#events-container .subtitle
{
    color: #757575;
    margin-bottom: 30px;
}

#cards-container
{
    display: flex;
}

#events-container .card
{
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}

#events-container img
{
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date
{
    font-size: 12px;
    color: #ccc;
}

.card .card-title
{
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants
{
    font-size: 14px;
    color: #757575
}

/* footer */

footer
{
    text-align: center;
    background-color: #353e48;
    color: #f7f7f7;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p
{
    margin-bottom: 0;
}

.home1{
    color:#f7f7f7;
    
    text-align: center;
    background-color: #1D1D27;
    width: 90%;
    height: 300px;
    margin-top: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
}

.home2{
    color:#f7f7f7;
    
    text-align: center;
    background-color: #1D1D27;
    width: 90%;
    height: 250px;
    margin-top: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
}
    


.btn-cad{
    align-items: center;
    align-content: center;
    width: 250px;
    height: 65px;
    border-radius: 20px;
    font-family: Rubik;
    
    background-color: rgba(255, 231, 151);
    cursor: pointer;
    margin-top: 30px;
    font-weight: bold;
}

.btn-cad:hover{
    background-color:rgb(255, 231, 151, 0.8) ;
   
}

.container{
    border-radius: 15px;
    /**div*/
    
}

.card3{
    border-radius:5px;
    
    /* Rectangle 6 */
    color: #f7f7f7;
    position: absolute;

    align-content: center;
    text-align: center;
    align-items: center;
    width: 600px;
    height: 625px;
    margin-left: 340px;
    margin-top:40px;
    margin-bottom: 20px;
    background: #1D1D27;

}

.card4{
    border-radius:5px;
    
    /* Rectangle 6 */
    color: #f7f7f7;
    position: absolute;

    align-content: center;
    text-align: center;
    align-items: center;
    width: 600px;
    height: 625px;
    margin-left: 260px;
    margin-top:40px;
    margin-bottom: 20px;
    background: #1D1D27;

}


.btn-primary
{
    background-color: #f2a340;
    border: 2px solid #c28008;
    width: 170px;
    height: 50px;
    
    
}

.btn-primary:hover
{
    background-color: #c28008;
    border-color: #c28008;
}

.card-header{
    font-size: 25px;
    text-align: center;
}


.textocs{
    text-align: center;
    
}

.form-group label
{
font-weight: bold;
text-align: justify;
align-items: center;

}

.tab table thead {
    background-color: #1D1D27;
    height: 70px;
}

.form-cad{
    max-width: max-content;
    max-height: max-content;
    align-content: center;
    margin-left: 80px;
}