/* geral */
* {
    font-family: 'Rubik';
}
/*


position: absolute;
width: 1440px;
height: 118px;
left: -2px;
top: 0px;





position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #1D1D27;

*/


body
{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    background-color: 
    #ffb870;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: .0rem;
    padding-bottom: .5rem;
}

.row
{
    margin:0;
}

.container-fluid
{
    padding: 0;
}

.btn-primary
{
    background-color: #f2a340;
    border: 2px solid #c28008;
}

.btn-primary:hover
{
    background-color: #c28008;
    border-color: #c28008;
}

/* navbar */

#navbar
{
    /*
    background-color: #1D1D27;
    
    margin: 10px;*/

    justify-content: space-between;
    background-color: #1D1D27;
    padding: 30px;
    height: 70px;

}

#navbar a
{
    font-size: 18px;
    color: #f7f7f7;
}

#navbar li
{
    padding-left: 50px;

    
}

#navbar a:hover
{
    color: #f2a340;
}

#navbar img{
    width:200px;
}

/* search container */
#search-container
{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1
{
    color: #f2a340;
    margin-bottom: 30px;
    font-weight: 900;
}

.btn-primaryab
{
    background-color: #7a7a7e;
    border: 2px solid #7a7a7e;
    width: 80px;
    height: 40px;
    margin-left: 0%;
    color:#f7f7f7;
    font-size:12px;
    
}

.btn-primaryab:hover
{
    background-color: #515153;
    border: 2px solid #7a7a7e;
    width: 80px;
    height: 40px;
    margin-left: 0%;
    color:#f7f7f7;
    font-size:12px;
    
}

#search-container form
{
    width: 50%;
    margin: 0 auto;
}

/* Events list */

#events-container
{
    padding: 50px;
}

#events-container h2
{
    margin-bottom: 10px;
}

#events-container .subtitle
{
    color: #757575;
    margin-bottom: 30px;
}

#cards-container
{
    display: flex;
}

#events-container .card
{
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}

#events-container img
{
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date
{
    font-size: 12px;
    color: #ccc;
}

.card .card-title
{
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants
{
    font-size: 14px;
    color: #757575
}

/* footer */

footer
{
    text-align: center;
    background-color: #353e48;
    color: #f7f7f7;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p
{
    margin-bottom: 0;
}

.home0{
    color:#f7f7f7;
    border-radius:5px;
    text-align: center;
    background-color: #1D1D27;
    width: 80%;
    height: 240px;
    margin-top: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
}

.home_1{
    color:#f7f7f7;
    border-radius:5px;
    text-align: center;
    background-color: #1D1D27;
    width: 600px;
    height: 200px;
    margin-top: auto;
    justify-content: center;
    margin-left: 316px;
    margin-right: auto;
    margin-top:60px;
}


.texthome{
    text-align: left;
    margin-left: 30px;
}

.home1{
    color:#f7f7f7;
    border-radius:5px;
    background-color: #1D1D27;
    width: 80%;
    height: 350px;
    margin-top: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
    text-align: left;
}


.home1 img{
    width:auto;
    height:170px;
    vertical-align: middle;
    margin: 65px;
    margin-left: 115px;
}
.home1 img, p{
    display:inline-block;
}

.livros{
    color:#f7f7f7;
    border-radius:5px;
    text-align: center;
    background-color: #f7f7f7;
    width: 25%;
    height: 50px;
    margin-top: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
    display:inline;
    position:absolute;
    
}

.img_menor{
    max-width: 300px;
    max-height:500px;
    width: auto;
    height: 1200px;
    position:relative;
    display:flex;
    flex:initial;
    align-items: center;
    background-color: #34343d;
    margin-left: 2%;
    text-align: left;
    border-radius:5px;
    vertical-align:initial;
    border-style: solid;
    border-color: rgb(52,52,5);
}

.img_menor3{
    max-width: 300px;
    max-height:500px;
    width: auto;
    height: 1200px;
    position:relative;
    display: flex;
    flex:initial;
    text-align:left;
    align-content: center;
    align-items: center;
    background-color: palevioletred;
    margin-left: 2%;
    border-radius:5px;
    vertical-align:initial;
    border-style: solid;
    border-color: rgb(52,52,5);
}


.img_menor2{
    max-width: 300px;
    max-height:5000px;
    width: 500px;
    height: 120px;
    position:relative;
    display:flex;
    flex:initial;
    align-items: center;
    align-content: center;
    margin-left: -117%;
    border-radius:5px;
    margin-top:250px;
    vertical-align:initial;
    
}


.img_menor2 img{
    width:6px;
    height:3px;
}

.img_home{
    max-width:600px;
    max-height:500px;
    width: auto;
    height: auto;
    position:relative;
    display:flex;
    flex:initial;
    align-items: center;
    margin-left: 30px;
    vertical-align:unset;
}



.img_home img{
    max-width:300px;
    max-height:180px;
    width: auto;
    height: auto;
  /*  margin-left: 10px;*/
  margin-left: 85px;
    margin-top: 18px;
    display:flex;
    padding-right: 110px;
    padding-bottom: 2px;    
    margin-top: -260px;
}

.home2{
    color:#f7f7f7;
    border-radius:5px;
    text-align: center;
    background-color: #1D1D27;
    width: 80%;
    height: 250px;
    margin-top: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
}
    
.home4{
    color:#f7f7f7;
    border-radius:5px;
    text-align: center;
    background-color: #1D1D27;
    width: 80%;
    height: 600px;
    margin-top: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
}

.btn-cad{
    align-items: center;
    align-content: center;
    width: 200px;
    height: 52px;
    font-family: Rubik;
    background-color: #f2a340;
    border: 2px solid #c28008;
    cursor: pointer;
    margin-top: 30px;
    font-weight: bold;
    border-radius: 5px;
    color: #f7f7f7;
}

.btn-cad:hover{
    background-color:#ad7e44 ;
   
}


.place::placeholder{
    color:#1D1D27;
    border-style: hidden;
    /*background-color: #757575;
    background-size: 45px;*/
    font-size: 15px;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 5px;
    height: 45px;
    
}

button{
    background-color: #757575;
}

/*
*{
    box-sizing: border-box;
    font-family: Rubik;
}
/*Average Styling */


