.card_livro{
    border-radius:5px;
    
    /* Rectangle 6 */
    color: #f7f7f7;
    position: absolute;

    align-content: center;
    text-align: center;
    align-items: center;
    width: 500px;
    height: 400px;
    margin-left: 380px;
    margin-top:40px;
    margin-bottom: 20px;
    background: #1D1D27;
}

.filtros
{
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
}

.filtros .p
{
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
    border: none;
    color: black;
    background-color: transparent;
}